<a data-fancybox="gallery" href="/assets/images/{{cada.imagen}}" class="proyecto proyect-ilu">
    <img src="/assets/images/{{cada.imagen}}" alt="/assets/images/{{cada.nombre}}">
    <span class="proyect-ilu-encima">
        {{cada.desc}}
    </span>
</a>