<div class="header">

  <div class="container">
  
    <a href="/" class="header-logo">
      <img src="/assets/images/logo.svg" class="header-logo-norm" alt="MZ">
      <img src="/assets/images/logo-inv.svg" class="header-logo-inv" alt="MZ">
    </a>

    <button class="hamburguer hamburger--spring header-nav-icon" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    {% set navPages = collections.all | eleventyNavigation %}
      <div class="nav col-12">
        {%- for elemento in navPages %}
          <a href="{{ elemento.url | url }}"
            {% if elemento.url == page.url %} class="active"{% endif %}
          >
            {{ elemento.title }}
          </a>
        {%- endfor %}
      </div>

  </div>

</div>