.header {
  padding-top: var(--spacer-m);
  padding-bottom: var(--spacer-m);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-header);
}
.header .container {
  display: flex;
}
.header img {
  display: block;
}
.header-logo {
  width: 100px;
  position: relative;
  z-index: var(--z-index-logo);
}
img.header-logo-inv {
  display: none;
}
.nav-activo img.header-logo-inv {
  display: block;
}
.nav-activo img.header-logo-norm {
  display: none;
}
.header-nav-icon {
  margin-left: auto;
  position: relative;
  z-index: var(--z-index-navicon);
  border: 0;
  background-color: transparent;
  padding: 0;
  margin-top: 3px;
}
.header-nav-icon img {
  color: var(--secondary-8);
}
.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
  background-color: var(--primary);
  border-radius: 1px;
  height: 5px;
  right: 0;
  width: 40px;
}
/* No puedo alinear todo a la derecha para que quede como en wireframe 
.hamburger-inner {
  width: 20px;
  margin-left: auto;
  ----> Habia que poner "right 0" duh
} */
.hamburguer:hover {
  opacity: 1;
}
.hamburger-inner {
  width: 20px;
}
.hamburger-inner::after {
  width: 30px;
}
.hamburger--spring.is-active .hamburger-inner::before,
.hamburger--spring.is-active .hamburger-inner::after,
.hamburger--spring.is-active .hamburger-inner {
  background-color: var(--secondary-light);
  width: 40px;
}
.hamburger-box:hover .hamburger-inner,
.hamburger-box:hover .hamburger-inner::before,
.hamburger-box:hover .hamburger-inner::after {
  background-color: var(--secondary);
}

@media (max-widht: 700px) {
  .header-logo {
    width: 70px;
  }
  .header-nav-icon {
    width: 30px;
  }
}