---
layout: layouts/base.njk
title: Contacto

---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 contacto-titulo">
  <h1 class="font-2 text-headline">contacto</h1>
</div>
<form class="col-7 col-md-6 col-sm-5 col-xs-6 contacto-form">
  ¡Hola!<br>
  <label for="name">Me llamo</label>
  <input id="name" type="text" placeholder="tu nombre">
  y <label for="project">tengo un proyecto de</label>
  <select id="project">
    <option>fotografía</option>
    <option>ilustración</option>
    <option>otro</option>
  </select>
  en el que me gustaría que me ayudaras.
  <label for="email">Me puedes escribir a</label>
  <input type="email"required id="email" placeholder="tu email">
  ¡Gracias!<br>
  <button type="submit" class="contacto-enviar">enviar</button>
</form>