---
layout: layouts/fullwidth.njk
title: Inicio
---
<div class="home-slide">
  <h1 class="font-2 home-title">mi trabajo es...</h1>
</div>

<div class="home-slide">
  <img src="/assets/images/home1.jpg" alt="">
  <a href="/fotos/" class="font-2 home-subheader">fotografía</a>
</div>

<div class="home-slide">
  <img src="/assets/images/home2.jpg" alt="">
  <a href="/portafolio/" class="font-2 home-subheader">ilustración</a>
</div>

<div class="home-slide">
  <img src="/assets/images/home3.jpg" alt="">
  <a href="/apropos/" class="font-2 home-subheader home-subheader-alt">freelance</a>
</div>